streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
langchain-community
nltk 
gensim 
matplotlib 
googletrans==3.1.0a0 
SpeechRecognition 
pyttsx3 
fpdf
vosk 
sounddevice 
numpy 
scipy
wordcloud
huggingface-hub
dotenv